body,h2{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.travel{
    height: 652px;
    background: url('/octanet/back.jpeg');
    background-size:cover;
    background-position: 20%;
    background-repeat: no-repeat;
}
.travel h2,nav{
    display: flex;
    font-size: 20px;
    color: white;
    font-family:cursive;
}
nav{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 2%;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:20px 30px;
    margin-top: 1px;
    margin-bottom: 1px;
    
}
nav ul li a{
    text-decoration: none;
    color:black;
    font-weight:bold;
}
nav ul li a:hover{
    color: white; 
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.title h1{
    color:white;
    font-size: 45px;
    margin-top: 120px;
    margin-bottom: 20px;
    margin-left: 30px;
}
span{
    color: black;
    font-family: cursive;
}
.tags{
    margin-left: 8%;
    margin-top: 3%;
    color: black;
    font-weight: bolder;
    font-style: italic;
}
.call{
    margin-left:9%;
    margin-top: 3%;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
button{
    margin-top: 3%;
    margin-left: 12%;
    margin-bottom: 20%;
    text-align: center;
    background-color: green;
    font-size: 30px;
    color: white;
    margin-top: 30px;
    padding: 15px 25px;
    border-radius: 28px;
    border: 2px solid black;
    box-shadow: 2px;
    font-weight: bolder;
}
.learn button{
    margin-left: 25%;
    margin-bottom: 8%;
    border-radius: 2%;
    padding: 10px 20px;
}

button:hover{
    color: rgba(0, 0, 0, 0.973);
}
nav ul li a:hover{
    color: white;
}
.about h2{
    text-align: center;
    font-family: cursive;
    font-size: 1.8em;
    color: green;
    margin-top: 2%;
}
.about span{
    color: green;
}
.about h3{
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    margin-top: 7%;
    font-size: 1.5em;
}
.about p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    margin-top: 30px;
    color: black;
    font-weight: bold;
    font-size: 18px;   
}
.about img{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 4%;
}
.journey_grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.country_name i{
    font-size: 1.2rem;
    margin-left: 5%;
}
.country_name span{
    font-style: italic;
}
.country_name{
    padding: 1rem;
    text-align: left;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: green;
    cursor: pointer;
}
.section_container h2{
    text-align: center;
    font-size: 1.8em;
}
.section_container p{
    text-align: center;
    font-size: 18px;
}
.country_card img{
    margin-left: 15%;
}
.country_card img:hover{
    transform: scale(1.09);
}
.contact-form {
    padding: 40px 0;
    margin: 0 10px;
}
 
.form-container {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.contact {
    text-align: center;
    background-color: #ffffff;
    margin: 0 auto;
}
 
.contact img {
    max-width: 100%;
    height: auto;
}
 
.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
 
.form-container label {
    display:block;
    font-weight: bold;
}
.form-container input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    resize: vertical;
}
.submit-button {
    padding: 10px 20px;
    background-color: #0dac30;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}
.contact-info {
    text-align: center;
    padding: 50px 0;
    background-color: #f7f7f7;
}
 
.contact-info h2 {
    margin-bottom: 20px;
}
footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
}

 
